.background {
  /* background-color: #812a2a; */
  background-color: #ffffff;
  height: calc(100vh - 100px);
  padding: 50px;
}

.title {
  font-size: 30px;
  color: white;
  position: relative;
}

.searchBar {
  background-color: white;
  width: 300px;
  margin: 0px auto;
  font-size: 20px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.foodItemBox {
  border-radius: 12px;
  background-color: white;
  padding: 20px;
  color: black;
  width: 120px;
  margin-bottom: 3em;
  position: relative;
  border: 5px solid rgba(134, 5, 5, 0.877);
}

.foodItemImage {
  width: 100px;
  height: auto;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 90%;
  }

  100% {
    transform: translateY(1000px) rotate(720deg);
    opacity: 0;
    border-radius: 90%;
  }
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 87%;
  border: 3px solid rgba(134, 5, 5, 0.877);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgba(134, 5, 5, 0.877);
}

.searchButton {
  width: 100px;
  height: 36px;
  border: 1px solid rgba(134, 5, 5, 0.877);
  background: rgba(134, 5, 5, 0.877);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
