@import './constants.css';

.buttonGrey{
  background-color: #C4C4C4 !important;
  font-family: "Risque" !important;
  font-size: 25px !important;
  color: black !important;
  width: 180px !important;
  height: 50px;
  margin: 20px 10px 0px 10px !important;
}

.buttonBlack{
  background-color: black !important;
  font-family: "Risque" !important;
  font-size: 25px !important;
  color: white !important;
  width: 180px !important;
  height: 50px;
  margin: 20px 10px 0px 10px !important;
}

.buttonBlackWide{
  background-color: black !important;
  font-family: "Risque" !important;
  font-size: 25px !important;
  color: white !important;
  width: 300px !important;
  height: 50px;
  margin: 20px 10px 0px 10px !important;
}

.buttonRed{
  background-color: #812a2a !important;
  font-family: "Risque" !important;
  font-size: 25px !important;
  color: white !important;
  width: 180px !important;
  height: 50px;
  margin: 20px 10px 0px 10px !important;
}
