.itemBoxOnePerson{
    align-items: center;
    margin: 0px auto;
}

.buttonRedLong{
    background-color: #812a2a !important;
    font-family: "Risque" !important;
    font-size: 25px !important;
    color: white !important;
    width: 380px;
    height: 70px;
    margin: 20px !important;
}