.redBackground{
    background-color: #812a2a;
    height: calc(100vh - 70px);
    padding: 70px 100px 0px 100px;
}

.itemBoxOnePerson{
    align-items: center;
    margin: 0px auto;
}

.buttonRedLong{
    background-color: #812a2a !important;
    font-family: "Risque" !important;
    font-size: 25px !important;
    color: white !important;
    margin: 20px !important;
}

.white-card{
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

.storyConclusion{
    font-size: 22px;
    width: 800px;
    margin: 0px auto;
}