@import './constants.css';

.itemBoxOnePerson{
  align-items: center;
  margin: 0px auto;
}

.buttonRedLong{
  background-color: var(--blood-red) !important;
  font-family: "Risque" !important;
  font-size: 25px !important;
  color: var(--white) !important;
  width: 380px;
  height: 70px;
  margin: 20px !important;
}

/* Red background div */
.redBackground{
  background-color: var(--blood-red);
  height: calc(100vh - 70px);
  padding: 70px 100px 0px 100px;
}

.white-card{
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}

/* Container for concluding story text */
.storyConclusion{
  font-size: 22px;
  width: 800px;
  margin: 0px auto;
}

.killerName {
  font-size: 35px;
  color: var(--blood-red);
  background: none;
}
