.drinkName{
    font-size: 40px;
}

.selectedIngredients{
    font-size: 30px;
}

.descriptiveText{
    font-size: 25px;
    max-width: 65%;
    margin: 0px auto;
}

.drinkImage{
    height: 350px;
    width: auto;
}
