.white-background{
    background-color: white;
    height: calc(100vh - 100px);
    padding: 50px;
}

.title{
    font-size: 50px;
    color: #812a2a;
}

.subtitle{
    font-size: 35px;
    color: black;
}

.itemBox{
    width: 200px;
}

.itemImage{
    height: 300px;
    width: auto;
}

.itemImageMarge{
    height: 400px;
    width: auto;
    margin: -50px;
}

.personName{
    font-size: 35px;
    color: #812a2a;
}

.foodName{
    font-size: 20px;
}

@font-face {
    font-family: "Risque";
    src: url("../fonts/Risque-Regular.ttf") format("truetype");
  }

.buttonBlack{
    background-color: black !important;
    font-family: "Risque" !important;
    font-size: 25px !important;
    color: white !important;
    width: 180px;
    height: 70px;
    margin: 20px !important;
}
.buttonRed{
    background-color: #812a2a !important;
    font-family: "Risque" !important;
    font-size: 25px !important;
    color: white !important;
    width: 180px;
    height: 70px;
    margin: 20px !important;
}
