.Home h1 {
  font-family: Bubblegum Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 105px;
  text-align: center;

  color: #ffffff;
}
.Home h2 {
  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;

  color: #ffffff;
}

.Home .Card_drink {
  position: absolute;
  width: 300px;
  height: 420px;
  left: 25%;
  top: 329px;

  background: #f5f5f5;
  border-radius: 40px;
}

.Home .Card_drink img {
  position: absolute;
  width: 264px;
  height: 350px;
  left: 20px;
  top: 0px;
  border-radius: 40px;
}

.Home .Card_drink h1 {
  position: absolute;
  width: 223px;
  height: 63px;
  left: 40px;
  top: 320px;

  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;

  color: #2b1618;
}

.Home .Card_burger {
  position: absolute;
  width: 300px;
  height: 420px;
  left: 60%;
  top: 329px;

  background: #ffffff;
  border-radius: 40px;
}
.Home .Card_burger img {
  position: absolute;
  width: 250px;
  height: 320px;
  left: 10%;
  top: 5%;
  border-radius: 40px;
}

.Home .Card_burger h1 {
  position: absolute;
  width: 223px;
  height: 63px;
  left: 15%;
  top: 75%;

  font-family: Risque;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;

  color: #2b1618;
}
