/* Figma Fonts */
@font-face {
  font-family: "Bubblegum Sans";
  src: url("../fonts/BubblegumSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Risque";
  src: url("../fonts/Risque-Regular.ttf") format("truetype");
}

/* home background */
.homeBackground {
  background: url("../assets/background.jpg");
  /* Full height */
  min-height: 100%;
  opacity: 0.9;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.home h1 {
  font-family: "Bubblegum Sans";
  font-size: 90px;
  text-align: center;
  margin: 0px;
  padding-top: 0.4em;
  padding-bottom: 0;
  color: #812a2a;
  /* color: white; */
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: white;
}

.home h2 {
  font-family: "Risque";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
  padding-bottom: 0.6em;
}

/* Setting up the drink card */
.homeOptionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  background: white;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}

.homeOptionCardDrink {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5 !important;
  position: relative;
}

/* drink glass image */
.homeOptionCardImage {
  width: auto;
  height: 250px;
  max-width: 80%;
  border-radius: 40px;
  position: relative;
}

/* drink heading. Clickable */
.homeOptionCardText {
  font-family: "Risque";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  position: relative;
  color: var(--blood-red);

  text-decoration: none;
  position: relative;
}

/* The heading color change */
.homeOptionCardText:hover {
  color: black;
}

/* Styling for the brief game instructions */
.instructions {
  color: white;
  font-size: 28px;
  width: 780px;
  margin: 0px auto;
  text-align: center;
}
