@import './constants.css';

@font-face {
  font-family: "Risque";
  src: url("../fonts/Risque-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bubblegum Sans";
  src: url("../fonts/BubblegumSans-Regular.otf") format("opentype");
}

.steps {
  background-color: var(--blood-red);
  height: calc(100vh);
}

.steps h1 {
  font-family: Bubblegum Sans;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: white;
  max-width: 85%;
  margin: 0px auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.steps h2 {
  font-size: 35px;
  line-height: 55px;
  font-family: Risque;
  padding-left: 30px;
  margin: 0px;
  text-align: left;
}

.stepsSubtitleSuspects{
  text-align: center !important;

}

.ingredientsContainer {
  text-decoration: none;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  /* margin: 1em; */
}

.ingredientsList {
  text-align: left;
  font-size: 17.5pt;
}

.stepsPanel {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  /* margin: 1em; */
}

.stepsDetails {
  text-align: left;
  padding: 1em;
  font-size: 24px;
}

.stepsSuspectsMenu {
  background-color: #FFFFFF;
  height: calc(100vh - 200px);
  width: 100%;
}

.stepNumber {
  background-color: #812A2A;
  border-radius: 10px 10px 0px 0px;
  color: #FFFFFF;
  height: 55px;
}

.personNameSmall {
  font-size: 25px;
  color: #812a2a;
}

.foodNameSmall {
  font-size: 25px;
}

.itemImageSmall {
  height: 200px;
  width: auto;
}

.itemImageSmallMarge {
  height: 300px;
  width: auto;
  margin: -50px;
}

.white-card-suspects{
  width: 60%;
  margin-right: 10px;
  padding: 0px 100px 0px 100px;
  height: 550px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  margin: 0px auto;
}

.white-card-row1{
  width: 73%;
  margin-right: 10px;
  /* padding: 0px 100px 0px 100px; */
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 20px;
}

