@import './constants.css';

.story-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  font-size: 18pt;
  line-height: 20pt;
  background-color: #812a2a;
  padding: 50px;
  height: 100vh;

}

.story {
  width: 75%;
  color: white;
}

.actors-container {
  width: 65%;
  background-color: var(--white);
  align-items: center;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;

  justify-content: center;
  margin: 0px auto;

}

.actor-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.actor-name {
  font-size: 18pt;
}

.actor-image {
  height: 280px;
  width: auto;
  padding: 5px, 0px, 10px, 0px;
}

.storyTitle{
  color: white;
  font-size: 50px;
}

.suspectsTitle{
  font-size: 35px;
  line-height: 55px;
  font-family: Risque;
  padding-left: 30px;
  margin: 0px;
  text-align: center;
}

.white-card-story{
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 442px;
}